#示例

name: "build"

on:
    push:
      branches: [main]
    workflow_dispatch: #支持手动触发

jobs:
    build:
        runs-on: ubuntu-latest
        permissions: 
          contents: write
        steps:
            - name: Set Up Node.js #安装nodejs
              uses: actions/setup-node@v3
              with: 
                node-version: '22.x'
            - name: checkout nodejs #检查nodejs是否安装成功
              run: |
                node -v
                npm -v

            - name: Checkout Code
              uses: actions/checkout@v4
              with: 
                submodules: 'recursive'
                token: ${{ secrets.GITHUB_TOKEN }}  # 确保有推送权限

            - name: modify manifest
              run: 
                node modify_manifest.js

            - name: replace chrome with browser
              run: 
                npm i && node replace_chrome_with_browser.js

            - name: run build
              run: |
                set -e
                cd pixivNoFirefox
                npm i
                npm run build
                ls 

            - name: Unzip artifact
              run: unzip ./pixivNoFirefox/powerfulpixivdownloader-online.zip -d temp

            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                name: powerfulpixivdownloader-online
                path: ./temp/powerfulpixivdownloader-online

            
            

            
